@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900&display=swap');

* {
   box-sizing: border-box;
 }

html {
   height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
   height: 100%;
}

.Inline {
   display: inline;
}

.Container {
   max-width: 1366px;
}

.Center {
   display: flex;
   justify-content: center;
}

a {
   text-decoration: none;
}

.Invalid {
   border: 1px solid red;
   background-color: #FDA49A;
}